@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'KyoboHand';
  min-height: 100vh;
  margin: 0;
}

/* (최소) 650px 이상일 때 */
@media screen and (min-width: 650px) {
  .App {
    width: 640px;
  }
}

/* (최대) 650px 이하일 때*/
@media screen and (max-width: 650px) {
  .App {
    width: 90vw; /* 브라우저 창 기준 90%*/
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh; /* 최소 높이 100% */
  padding: 0 20px;
}

/* Mybtn */

.Mybtn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  font-size: 18px;
  font-family: 'KyoboHand';

  /* 버튼 안의 글자가 잘리지 않고 2줄이 되게 함 */
  white-space: nowrap;
}

.Mybtn_default {
  background-color: #ececec;
  color: black;
}

.Mybtn_positive {
  background-color: #64c964;
  color: white;
}

.Mybtn_negative {
  background-color: #fd565f;
  color: white;
}

/* Myheader */

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header button {
  font-family: 'KyoboHand';
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

/* DiaryList */

.DiaryList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'KyoboHand';
  font-size: 18px;
}

/* DiaryItem */

.DiaryItem {
  padding: 15px 0px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .info_wrapper {
  cursor: pointer;
  flex-grow: 1;
  margin-left: 20px;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.DiaryItem .diary_content_preview {
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/* DiaryEditor */

.DiaryEditor {
}

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'KyoboHand';
  font-size: 20px;
}
